@model IEnumerable<eVisa.ViewModel.FAQView>
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <br />
    <div class="container">
        <div class="col-md-12">
            <h1>Frequently Asked Questions</h1>

            <ul class="collapsible" data-collapsible="accordion">
                @foreach (var item in Model)
                {
                    <li class="active">
                        <div class="collapsible-header" style="font-weight:600;" data-ng-click="setActive('@Html.Raw(item.Id)');">
                            <i data-ng-class="{'fa fa-minus' : isActive === '@Html.Raw(item.Id)', 'fa fa-plus' : isActive != '@Html.Raw(item.Id)'}"></i>
                            @Html.Raw(item.question)
                        </div>
                        <div class="collapsible-body">
                            <p style="margin-left: 28px;">@Html.Raw(item.answer)</p>
                        </div>
                    </li>
                }
            </ul>
        </div>        
    </div>
</div>